<%_ if (comp && comp.imagesMeta && comp.imagesMeta.length) { const images = comp.imagesMeta.map(image => getSrc(image)); _%>
	<section class="section section-gallery">
		<div class="album" data-role="album" data-index="<%= comp.initialIndex %>"
			data-images='<%= JSON.stringify(images) %>' data-images-meta='<%= JSON.stringify(comp.imagesMeta) %>'>
			<div class="album-list">
					<img src="<%= images[comp.initialIndex] %>" loading="lazy" alt="<%= comp.alt %>">
			</div>
		</div>
	</section>
	<%_ } _%>