<header class="header sticky major active" data-role="header">
    <div class="header-bar">
        <a href="javascript:;" class="menu-img" aria-label="CUI Logo">

        </a>
        <div class="input right">
            <input id="headerInput" placeholder="Search for ..." type="text" name="text" data-method="GET"
                data-role="autocomplete" data-url="<%=meta.origin%>/api/geo" data-keys="type" data-type="city" />
            <a href="javascript:;" aria-label="Do Dearch" class="btn">
                <i class="icon-search"></i>
            </a>
        </div>
    </div>
    <nav class="header-menu">
        <ul class="header-menu-list">
            <li>
                <a href="<%=meta.appUrl%>/index">Home</a>
            </li>
            <li class="list">
                <a href="<%=meta.appUrl%>/demo">Demo</a>
                <ul>
                    <li>
                        <a href="<%=meta.appUrl%>/about.html">About</a>
                    </li>
                    <li>
                        <a href="<%=meta.appUrl%>/dnd.html">War System</a>
                    </li>
                    <li>
                        <a href="<%=meta.appUrl%>/survey.html">Survey</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="<%=meta.appUrl%>/about">About</a>
            </li>
            <li>
                <a href="<%=meta.appUrl%>/contact">Contact</a>
            </li>
        </ul>
        <a href="javascript:;" aria-label="Open Menu" class="menu-icon header-switch-link"><i
                class="icon-bars f3"></i></a>
    </nav>
</header>