<%_ if (comp) { _%>
<section class="section-hero animation">
	<div class="picture">
		<img src="<%= getSrc(comp.image) %>" alt="<%= comp.image.alt %>" loading="<%= comp.image.loading %>">
	</div>
	<div class="content">
		<i class="icon-cui"></i>
		<h1> <strong><%= comp.title %></strong></h1>
		<p class="f5 major"><i class="<%= comp.subtitleIcon %> f3"></i>
			<strong class="title"><%= comp.subtitle %></strong>
		</p>
		<p class="desc"><%= comp.desc %></p>
	</div>
</section>
<%_ } _%>
