<%_ if (sectionPhotos) { _%>
<section class="section-photos animation">
	<div class="fixed fixed-max-xs large">
		<h2 class="f3 text-bold m-b-2"><%= sectionPhotos.heading %></h2>
		<div><%= sectionPhotos.intro %></div>
	</div>
	<ul class="fixed fixed-max-sm">
		<%_ if (sectionPhotos.items && sectionPhotos.items.length) { _%>
			<%_ for (var i = 0; i < sectionPhotos.items.length; i++) { _%>
				<%_ const item = sectionPhotos.items[i]; _%>
				<li>
					<div>
						<h3 class="f4 text-bold"><%= item.title %></h3>
						<p><%= item.body %></p>
						<a href="<%= item.ctaHref %>" class="btn regular"><%= item.ctaText %></a>
					</div>
					<img src="<%= item.image.src %>" alt="<%= item.image.alt %>" loading="<%= item.image.loading %>">
				</li>
			<%_ } _%>
		<%_ } _%>
	</ul>
</section>
<%_ } _%>
