<%_ if (comp) { _%>
	<section class="section section-points animation">
		<div class="fixed fixed-max-xs large">
			<h2 class="f3 text-bold m-b-2">
				<%= comp.heading %>
			</h2>
			<div>
				<%= comp.intro %>
			</div>
		</div>
		<ul class="fixed fixed-max-sm">
			<%_ if (comp.items && comp.items.length) { _%>
				<%_ for (var i=0; i < comp.items.length; i++) { _%>
					<%_ const item=comp.items[i]; _%>
						<li>
							<div>
								<h3 class="f4 text-bold">
									<%= item.title %>
								</h3>
								<p>
									<%= item.body %>
								</p>
								<%_ if (item.ctaText) { _%>
								<a href="<%= getHref(item) %>" class="btn regular">
									<%= item.ctaText %>
								</a>
								<%_ } _%>
							</div>
							<img src="<%= getSrc(item.image) %>" alt="<%= item.image.alt %>" loading="<%= item.image.loading %>">
						</li>
					<%_ } _%>
				<%_ } _%>
		</ul>
	</section>
	<%_ } _%>