<%if(article){%>
<article>
  <a href="<%=article.href%>" data-id="<%= article.id%>">
      <address><%=article.title%></address>
  </a>
  <ul>
        
      <%if(article.attrs && article.attrs.length){%>
        <%for(var i=0; i<article.attrs.length; i++){%>
          <% const attr = article.attrs[i]; %>
          <li>
              <span><%=attr.value%></span> <abbr title="<%=attr.name%>"><%=attr.abbr%></abbr>
          </li>
        <%}%>
      <%}%>
  </ul>
  <figure>
      <img src="<%=article.img%>" alt="<%=article.imgAlt%>" loading="lazy">
      <figcaption><%=article.imgTag%></figcaption>
  </figure>
</article>
<%}%>