<!DOCTYPE html>
<html lang="<%= meta.lang || 'en' %>">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= seo.title || 'Page Title' %>
  </title>
  <meta name="description" content="<%= seo.desc || 'Page Description' %>">
  <%_if(meta.preload && meta.preload.length){for(var i=0; i<meta.preload.length; i++){_%>
    <link rel="preload" href="<%=meta.preload[i].href%>" as="<%=meta.preload[i].as%>">
    <%_} }_%>
      <link rel="icon" href="<%=meta.origin%>/img.favicon.ico" type="image/x-icon">
      <%_if(meta.css){_%>
        <link rel="preload" href="<%=meta.css%>" as="style">
        <link rel="stylesheet" href="<%=meta.css%>">
        <%_}_%>
          <%_if(meta.js){_%>
            <link rel="preload" href="<%=meta.js%>" as="script">
            <%_}_%>
              <%_if(meta.theme){_%>
                <style>
                  <%_if(meta.theme.default) {
                    _%>body {
                      <%_for(var key in meta.theme.default) {
                        _%>--<%=key%>: <%=meta.theme.default[key]%>;
                        <%_
                      }

                      _%>
                    }

                    <%_
                  }

                  _%><%_if(meta.theme.dark) {
                    _%>body.theme-dark {
                      <%_for(var key in meta.theme.dark) {
                        _%>--<%=key%>: <%=meta.theme.dark[key]%>;
                        <%_
                      }

                      _%>
                    }

                    <%_
                  }

                  _%>
                </style>
                <%_}_%>
</head>

<body id="body" class="<%=meta.pageType%>">